@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body{
    margin: 0;
    background-color: #131313;
}

p{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 64px;
    margin: 0;
}

a{
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: #EDCE29;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    font-family: Inter;
    padding: 0px;
    border-bottom: 1px solid #EDCE29;
    
}

.header__section{
    display: flex;
    align-items: center;
}

.headerlogo{
    padding: 14px 0px 14px 24px;
    width: 42px;
    height: 42px;
}

.headerButton{
    font-size: 14px;
    padding-left: 42px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.links{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.link a{
    color: #AAAAAA;
    margin: 42px;
}

.description__text a{
    color: #EDCE29;
}

.image img{
    width: 236;
    height: 236;
    margin: 50% 0;
}

.main__text{
    padding-bottom: 16px;
}

.text{
    margin: auto 0;
    padding-left: 3%;
}